<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Nate</string>
		<key>lastName</key>
		<string>Birkholz</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Matthew</string>
		<key>lastName</key>
		<string>Brightbill</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jeff</string>
		<key>lastName</key>
		<string>Chavez</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>John</string>
		<key>lastName</key>
		<string>Clem</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Teacher</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Chrstie</string>
		<key>lastName</key>
		<string>Ferderer</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>David</string>
		<key>lastName</key>
		<string>Fry</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Adrian Petrica</string>
		<key>lastName</key>
		<string>Gherle</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jake</string>
		<key>lastName</key>
		<string>Hawken</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Tony</string>
		<key>lastName</key>
		<string>Huang</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Johnson</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Teacher</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Shams</string>
		<key>lastName</key>
		<string>Kazi</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Cameron</string>
		<key>lastName</key>
		<string>Klein</string>
		<key>image</key>
		<string>cameron.jpg</string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Kori</string>
		<key>lastName</key>
		<string>Kolodziejczak</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Parker</string>
		<key>lastName</key>
		<string>Lewis</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Nathan</string>
		<key>lastName</key>
		<string>Ma</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Casey</string>
		<key>lastName</key>
		<string>MacPhee</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brendan</string>
		<key>lastName</key>
		<string>McAleer</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brian</string>
		<key>lastName</key>
		<string>Mendez</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Mark</string>
		<key>lastName</key>
		<string>Morris</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Rowan</string>
		<key>lastName</key>
		<string>North</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Lance</string>
		<key>lastName</key>
		<string>Park</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Kevin</string>
		<key>lastName</key>
		<string>Pham</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Will</string>
		<key>lastName</key>
		<string>Richman</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Heather</string>
		<key>lastName</key>
		<string>Theuringer</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Tuan</string>
		<key>lastName</key>
		<string>Vu</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Zack</string>
		<key>lastName</key>
		<string>Walkingstick</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Sara</string>
		<key>lastName</key>
		<string>Wong</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Hongyao</string>
		<key>lastName</key>
		<string>Zhang</string>
		<key>image</key>
		<string></string>
		<key>position</key>
		<string>Student</string>
	</dict>
</array>
</plist>
